p {
    color: black; 
    text-align: justify; 
    font-size: 16pt;
    margin-left: 10px;
    margin-right: 10px; 
}

.container {
    min-height: 375px;
    display: block;
    height: 70vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    border: 1px solid rgba(211, 211, 211, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn{
    background-color: #00507C; 
    border: rgba(0, 0, 0, 0.5) 1px solid;
}
.btn:hover{
    background-color: #DA0044; 
    border: rgba(0, 0, 0, 0.5) 1px solid;
}
