<div class="container mb-2" style="border: rgba(0, 0, 0, 0.2) 1px solid; background-color: #ffffff;">

  <h4 style="text-align: center" class="mt-2 mb-5">Editar Horário</h4>

  <div class="row">

    <div class="col">

      <div class="col mx-2" style="text-align: center; width: 100%;">
        <div class="" style="width: auto; ">
          <form [formGroup]="formulario" (ngSubmit)="salvarHorario()">


            <table class="table table-bordered">
              <tr class="thead-dark">
                <th scope="col">Horário</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
              </tr>

              <tbody>
                <tr>
                  <th>{{horas[0]}}</th>
                  <th>
                    <select class="disciplinaSel" formControlName="segunda1">
                      
                      <option>{{ horario.segunda[0].disciplina }}</option>
                      
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th>
                    <select class="disciplinaSel" formControlName="terca1">
                      <option>{{ horario.terca[0].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th>
                    <select class="disciplinaSel" formControlName="quarta1">
                      <option>{{ horario.quarta[0].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th>
                    <select class="disciplinaSel" formControlName="quinta1">
                      <option>{{ horario.quinta[0].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th>
                    <select class="disciplinaSel" formControlName="sexta1">
                      <option>{{ horario.sexta[0].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                </tr>

                <tr>

                  <th>{{horas[1]}}</th>
                  <th class="Segunda">
                    <select class="disciplinaSel" formControlName="segunda2">
                      <option>{{ horario.segunda[1].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="terca">
                    <select class="disciplinaSel" formControlName="terca2">
                      <option>{{ horario.terca[1].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quarta">
                    <select class="disciplinaSel" formControlName="quarta2">
                      <option>{{ horario.quarta[1].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quinta">
                    <select class="disciplinaSel" formControlName="quinta2">
                      <option>{{ horario.quinta[1].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="sexta">
                    <select class="disciplinaSel" formControlName="sexta2">
                      <option>{{ horario.sexta[1].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                </tr>

                <tr>

                  <th>{{horas[2]}}</th>
                  <th class="Segunda">
                    <select class="disciplinaSel" formControlName="segunda3">
                      <option>{{ horario.segunda[2].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="terca">
                    <select class="disciplinaSel" formControlName="terca3">
                      <option>{{ horario.terca[2].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quarta">
                    <select class="disciplinaSel" formControlName="quarta3">
                      <option>{{ horario.quarta[2].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quinta">
                    <select class="disciplinaSel" formControlName="quinta3">
                      <option>{{ horario.quinta[2].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="sexta">
                    <select class="disciplinaSel" formControlName="sexta3">
                      <option>{{ horario.sexta[2].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                </tr>

                <tr>
                  <th>{{horas[3]}}</th>
                  <th class="Segunda">
                    <select class="disciplinaSel" formControlName="segunda4">
                      <option>{{ horario.segunda[3].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="terca">
                    <select class="disciplinaSel" formControlName="terca4">
                      <option>{{ horario.terca[3].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quarta">
                    <select class="disciplinaSel" formControlName="quarta4">
                      <option>{{ horario.quarta[3].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quinta">
                    <select class="disciplinaSel" formControlName="quinta4">
                      <option>{{ horario.quinta[3].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="sexta">
                    <select class="disciplinaSel" formControlName="sexta4">
                      <option>{{ horario.sexta[3].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                </tr>

                <tr>

                  <th>{{horas[4]}}</th>
                  <th class="Segunda">
                    <select class="disciplinaSel" formControlName="segunda5">
                      <option>{{ horario.segunda[4].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="terca">
                    <select class="disciplinaSel" formControlName="terca5">
                      <option>{{ horario.terca[4].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quarta">
                    <select class="disciplinaSel" formControlName="quarta5">
                      <option>{{ horario.quarta[4].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quinta">
                    <select class="disciplinaSel" formControlName="quinta5">
                      <option>{{ horario.quinta[4].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="sexta">
                    <select class="disciplinaSel" formControlName="sexta5">
                      <option>{{ horario.sexta[4].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                </tr>

                <tr>

                  <th>{{horas[5]}}</th>
                  <th class="Segunda">
                    <select class="disciplinaSel" formControlName="segunda6">
                      <option>{{ horario.segunda[5].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="terca">
                    <select class="disciplinaSel" formControlName="terca6">
                      <option>{{ horario.terca[5].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quarta">
                    <select class="disciplinaSel" formControlName="quarta6">
                      <option>{{ horario.quarta[5].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="quinta">
                    <select class="disciplinaSel" formControlName="quinta6">
                      <option>{{ horario.quinta[5].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                  <th class="sexta">
                    <select class="disciplinaSel" formControlName="sexta6">
                      <option>{{ horario.sexta[5].disciplina }}</option>
                      <option></option>
                      <option *ngFor="let disciplina of disciplinas">{{disciplina}}</option>
                    </select>
                  </th>
                </tr>
              </tbody>

            </table>

            <div style="float: right;">
              <button type="submit" class="btn btn-primary btn-sm mb-2" [disabled]="estadoButton">
                  Salvar
              </button>
          </div>

          </form>

        </div>
      </div>

    </div>

  </div>

</div>