<!--<div class="adicionar-disciplinas" data-toggle="modal" data-target="#disciplinaModal"></div>
-->

<div class="container mb-2" style="border: rgba(0, 0, 0, 0.2) 1px solid; background-color: #ffffff;">

    <h4 style="text-align: center" class="mt-2 mb-3">Gestão de Turmas</h4>

    <div class="row" style="padding-left: 15px">

        <div class="col">

            <form [formGroup]="formulario">

                <div class="form-group">
                    <input 
                        type="text"
                        class="form-control mb-2"
                        placeholder="Código"
                        formControlName="codigo"
                    />
                </div>

                <div class="form-group">
                    <input 
                        type="text" 
                        class="form-control mb-2" 
                        placeholder="Nome" 
                        formControlName="nome"
                    />    
                </div>
                
                <div class="form-group" style="display: flex">
                    <div class="col col-sm-8 col-md-5 col-lg-4">
                        <h5 class="my-2">Selecione disicplinas: </h5>
                    </div>
                    <div class="col">
                        <input 
                            type="button" 
                            class="btn btn-primary btn-sm my-2" 
                            data-toggle="modal"
                            data-target="#disciplinaModal" 
                            value="Disciplinas"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <input 
                        type="text" 
                        class="form-control mb-2" 
                        placeholder="Sala"
                        formControlName="sala" 
                    />
                </div>
                

                <div class="form-group" style="display: flex">
                    <div class="col col-sm-8 col-md-5 col-lg-4">
                        <h5 class="my-2">Selecione o turno: </h5>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" formControlName="turno">
                        <option value="0" selected>Turno</option>
                        <option value="manha">Manhã</option>
                        <option value="tarde">Tarde</option>
                    </select>
                </div>

                <div style="float: right;">
                    <button type="submit" class="btn btn-primary btn-sm mb-2 ml-1" [disabled]="estadoButton"> 
                        Salvar
                    </button>
                </div>
                <app-incluir-disciplinas></app-incluir-disciplinas>
            </form>
            

        </div>

    </div>
</div>