<div class="container" style="border: rgba(0, 0, 0, 0.2) 1px solid; background-color: #ffffff;">

  <div class="my-2">
    <h2 style=" border-bottom: rgba(0, 0, 0, 0.2) solid 1px; margin-bottom: 0; font-weight: 100; text-align: center;"
      class=" pb-2 mb-3">
      Frequência</h2>

    <div class="mx-auto">
      <div class="mb-2 ">
        <a class="btn btn-primary mr-2 estilo mt-2" data-toggle="collapse" href="#multiCollapseExample1" role="button"
          aria-expanded="false" aria-controls="multiCollapseExample1" (click)="mudaBimestre(0)">1º Bimestre</a>
        <button class="btn btn-primary mr-2 estilo mt-2" type="button" data-toggle="collapse"
          data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1"
          (click)="mudaBimestre(1)">2º Bimestre</button>
        <button class="btn btn-primary mr-2 estilo mt-2" type="button" data-toggle="collapse" data-target=".multi-collapse"
          aria-expanded="false" aria-controls="multiCollapseExample1 " (click)="mudaBimestre(2)">3º Bimestre</button>
        <button class="btn btn-primary estilo mt-2" type="button" data-toggle="collapse" data-target=".multi-collapse"
          aria-expanded="false" aria-controls="multiCollapseExample1 " (click)="mudaBimestre(3)">4º Bimestre</button>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            
              <form [formGroup]="formulario">
                <div class="form-group" style="display: flex;">
                  <div class=" col col-sm-8 col-md-8 col-lg-6">
                    <h5 class="my-2">Selecione a data referente a frequência: </h5>
                  </div>
                  <select class="custom-select" formControlName="data">
                    <option></option>
                    <option *ngFor="let dia of bimestresDias[bimestre]">{{dia}}</option>
                  </select>
                </div>

              </form>

          </div>
        </div>
      </div>

    </div>








    <table class="table table-bordered table-striped mr-3 mb-0">
      <thead class="thead">
        <tr>
          <th scope="col" style="text-align: center;">Nº</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Nome</th>
          <th scope="col">Faltas</th>
        </tr>
      </thead>
      <tbody *ngIf="estadoForm">
        <tr *ngFor="let aluno of alunos; let i = index">
          <td>{{i+1}}</td>
          <td>{{aluno.matricula}}</td>
          <td>{{aluno.nome}}</td>
          <td>
            <input type="number" #val [id]="i" min="0" max="4" (change)="adicionarVal(val)">
          </td>
        </tr>

      </tbody>
    </table>
    <small class="form-text text-muted mb-2">O número de faltas corresponde ao número de aulas ministradas.</small>
    <div>
      <button type="button" class="btn btn-primary btn-sm mb-2 estilo" (click)="finalizarFrequencia()">
        Salvar
      </button>
    </div>

  </div>

</div>