<div class="container" style="border: rgba(0, 0, 0, 0.2) 1px solid; background-color: #ffffff;">

  <div class="my-2">
    <h2 style=" border-bottom: rgba(0, 0, 0, 0.2) solid 1px; margin-bottom: 0; font-weight: 100; text-align: center;"
      class=" pb-2 mb-3">
      Avaliações</h2>
  </div>

  <div class="mx-auto">
    <h4>Selecione o período da avaliação: </h4>
    <div class="mb-2 ">
      <button class="btn btn-primary mr-2 estilo mt-2" type="button" (click)="mudaBimestre(0)">1º Bimestre</button>
      <button class="btn btn-primary mr-2 estilo mt-2" type="button" (click)="mudaBimestre(1)">2º Bimestre</button>
      <button class="btn btn-primary mr-2 estilo mt-2" type="button" (click)="mudaBimestre(2)">3º Bimestre</button>
      <button class="btn btn-primary estilo mt-2" type="button" (click)="mudaBimestre(3)">4º Bimestre</button>
    </div>
  </div>

  <div *ngIf="periodoSelecionado">
    <div class="row mt-4">
      <div class="col">
        <h3>{{titulo}}</h3>
      </div>

      <div style="float: right; margin-right: 15px;">
        <button class="mb-2 btn btn-primary estilo py-0" data-toggle="modal" data-target="#modalCriar">Criar</button>
      </div>
    </div>


    <table class="table table-bordered mr-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Data</th>
          <th scope="col">Tipo</th>
          <th scope="col">Peso</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <td scope="row" style="text-align: center; vertical-align: middle; width: 15%; padding: 6px;">

          <button type="button" [value]="disciplina.codigo" (click)=" setDisciplinaTemp(disciplina)"
            class="btn btn-primary-outline py-0" data-toggle="modal" data-target="#modalEditar">
            <i class="fas fa-edit"></i>
          </button>

          <button type="button" [value]="disciplina.matricula" (click)=" modalUsuario(disciplina)"
            class="btn btn-primary-outline py-0" data-toggle="modal" data-target="#confirmaExclusao">
            <i class="fas fa-trash-alt"></i>
          </button>

        </td>
      </tbody>

    </table>
  </div>


</div>

<!--Modal-->
<div class="modal fade bd-example-modal-lg" id="modalCriar" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar Avaliação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="form.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body-modal">

        <div class="col">

          <form #form="ngForm" [formGroup]="formulario" (change)="formValido()">

            <div class="form-group" style="display: flex;">
              <div class=" col col-sm-8 col-md-8 col-lg-6">
                <h5 class="my-2">Selecione a data referente a avaliação: </h5>
              </div>
              <select class="custom-select" formControlName="data">
                <option></option>
                <option *ngFor="let dia of bimestresDias[bimestre]">{{dia}}</option>
              </select>
            </div>
            <div class="fomr-group" style="display: flex;">
              <div class=" col col-sm-8 col-md-8 col-lg-6">
                <h5 class="my-2">Selecione o peso da atividade: </h5>
              </div>
              <select class="custom-select" formControlName="peso">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>

          </form>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
              (click)="form.reset()">Cancelar</button>
            <button type="submit" class="btn btn-primary estilo" data-dismiss="modal" (click)="confirmarAlteracoes()"
              [disabled]="estadoBotao">Confirmar</button>
          </div>
        </div>
      </div>
    </div>