.estilo{
    background-color: #00507C; 
    border: rgba(0, 0, 0, 0.5) 1px solid;
}


.page-link.active{
    background-color: #343A40;
    color: white;
}

.page-link{
    color: black;
}


input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}