<div class="modal fade bd-example-modal-lg" id="modalEditar" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Aluno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="form.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body-modal">

        <div class="col">

          <form #form="ngForm" [formGroup]="formulario" (keyup)="formValido()">
            <div class="form-group">
              <input type="text" class="form-control mb-2 mx-auto col-7" title="Nome" formControlName="nome"
                [placeholder]="aluno.nome">
            </div>
            <div class="form-group">
              <input type="text" class="form-control mb-2 mx-auto col-7" title="Login" formControlName="matricula"
                [placeholder]="aluno.matricula">
            </div>
            <div class="form-group">
              <input type="password" class="form-control mb-2 mx-auto col-7" placeholder="Senha"
                formControlName="senha">
            </div>
            <div class="form-group">
              <input type="email" class="form-control mb-2 mx-auto col-7" title="Email" formControlName="email"
                [placeholder]="aluno.email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control mb-2 mx-auto col-7" title="CPF" formControlName="cpf"
                [placeholder]="aluno.cpf">
            </div>
            <div class="form-group" style="display: flex">
                <select title="Selecione a Turma" class="custom-select mx-auto col-7" id="inputGroupSelect01" formControlName="turma">
                    <option *ngFor="let turma of turmas" [value]="turma.codigo">{{turma.nome}}</option>
                </select>
            </div>


          </form>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="form.reset()">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal"
              (click)="confirmarAlteracoes()" [disabled]="estadoBotao">Confirmar</button>
          </div>
        </div>
      </div>
    </div>