<!-- Modal -->
<div class="modal fade" id="disciplinaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dsiciplinas</h5>
        <select class="custom-select mr-1 mt-3 ml-auto" id="formaBusca">
          <option value="0" selected>Buscar por:</option>
          <option value="codigo">Código</option>
          <option value="nome">Nome</option>
        </select>

        <!--Dinâmico para mudar exemplo quando Código ou Nome-->
        <input type="text" class="form-control ml-1 mt-3" placeholder="ex: Jóse" />
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col col-6">
            <table class="table table-bordered mr-3" id="todas-disciplinas">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Disciplinas da Turma</th>
                </tr>
              </thead>
              <tbody *ngIf="disciplinasTurma === undefined; else disciplinasEditar">

                <tr *ngFor="let disciplina of disciplinasInput">

                  <td (click)="removerDisciplina(disciplina)">{{disciplina}}</td>

                </tr>
              </tbody>
              <ng-template #disciplinasEditar>
                  <tr *ngFor="let disciplina of disciplinasTurma">

                      <td (click)="removerDisciplina(disciplina)">{{disciplina}}</td>
    
                    </tr>
              </ng-template>
            </table>
          </div>
          <div class="col col-6">
            <table class="table table-bordered mr-3" id="disciplinas-selecionadas">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Disciplinas Cadastradas</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let disciplina of disciplinas">
                  <td (click)="adicionarDisciplina(disciplina)"> {{disciplina}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
          (click)="adicionarDisciplinas()">Adicionar</button>
      </div>

    </div>

  </div>
</div>