<div class="container mb-2" style="border: rgba(0, 0, 0, 0.2) 1px solid; background-color: #ffffff;">

  <h4 style="text-align: center" class="mt-3 mb-4">Turmas</h4>

  <div class="row">
    <div class="col">
      <h5 style="float: right;">Pesquisar Turmas: </h5>
    </div>
    <div class="col">
      <input type="search" class="form-control ml-1 mb-3" placeholder="ex: 20191A2CTM" #termoDaPesquisa
        (keyup)="pesquisa(termoDaPesquisa.value)" />
    </div>
  </div>

  <table class="table table-bordered mr-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplinas</th>
        <th scope="col">Sala</th>
        <th scope="col">Turno</th>
        <th scope="col">Horário</th>
      </tr>
    </thead>
    <tbody *ngIf="turmasPagina !== null && turmasPagina.length !== 0 && pesquisado; else tabelaInicial">

      <tr *ngFor="let turma of ofertas | async">
        <td scope="row" style="text-align: center; vertical-align: middle; width: 15%;">

          <div *ngIf="turma.codigo !=='Nenhuma informação encontrada'">
            <button type="button" [value]="turma.codigo" (click)="setTurmaTemp(turma)"
              class="btn btn-primary-outline py-0" data-toggle="modal" data-target="#modalEditar">
              <i class="fas fa-edit"></i>
            </button>

            <button type="button" [value]="turma.codigo" (click)=" modalUsuario(turma)"
              class="btn btn-primary-outline py-0" data-toggle="modal" data-target="#confirmaExclusao">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>


        </td>
        <td>{{ turma.codigo }}</td>
        <td>{{ turma.nome }}</td>
        <div *ngIf="turma.codigo ==='Nenhuma informação encontrada'; else disciplinas">
          <td style="border: none;"></td>
        </div>
        <ng-template #disciplinas>
            <td class="disciplinas" data-toggle="modal" data-target="#disciplinaModal" (click)="setTurmaTemp(turma)">
                Disciplinas
            </td>
        </ng-template>
        <td>{{ turma.sala }}</td>
        <td>{{ turma.turno }}</td>
        <td class="horario">
          Horário
        </td>
      </tr>
    </tbody>

    <ng-template #tabelaInicial>
      <tr *ngFor="let turma of turmasPagina">
        <td scope="row" style="text-align: center; vertical-align: middle; width: 15%;">

          <button type="button" [value]="turma.codigo" (click)=" setTurmaTemp(turma)"
            class="btn btn-primary-outline py-0" data-toggle="modal" data-target="#modalEditar">
            <i class="fas fa-edit"></i>
          </button>

          <button type="button" [value]="turma.codigo" (click)=" modalUsuario(turma)"
            class="btn btn-primary-outline py-0" data-toggle="modal" data-target="#confirmaExclusao">
            <i class="fas fa-trash-alt"></i>
          </button>

        </td>
        <td>{{ turma.codigo }}</td>
        <td>{{ turma.nome }}</td>
        <td class="disciplinas" data-toggle="modal" data-target="#disciplinaModal" (click)="setTurmaTemp(turma)">
          Disciplinas
        </td>
        <td>{{ turma.sala }}</td>
        <td>{{ turma.turno }}</td>
      <td class="disciplinas" [routerLink]="'./turma-horario/'+turma.codigo">
          Horário
        </td>
      </tr>
    </ng-template>

  </table>
  <div class="col" style="padding:0px; display: flex; justify-content: center;">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link " (click)="exibirTurmaPaginacao(paginaAtual-1)" tabindex="-1">Anterior</a>
        </li>
        <div *ngFor="let num of paginacao">
          <li class="page-item" [value]="num.val">
            <a class="page-link" (click)="exibirturmaPaginacao(num.val)" tabindex="-1">{{ num.val }}</a>
          </li>
        </div>
        <li class="page-item">
          <a class="page-link" (click)="exibirTurmaPaginacao(paginaAtual+1)" tabindex="-1">Próximo</a>
        </li>
      </ul>
    </nav>



    <app-remover-turma [turma]="turmaTemp"></app-remover-turma>
    <app-editar-turma [turma]="turmaTemp"></app-editar-turma>
    <app-alterar-disciplinas [disciplinasInput]="turmaTemp.disciplinas.split('_')" [turma]="turmaTemp"
      (disciplinasOutput)="inserirDisciplanas($event)"></app-alterar-disciplinas>



  </div>