<div class="container" style="margin: 20px 0px;">

  <nav class="navbar navbar-expand-lg navbar-dark ">

      <a class="navbar-brand" routerLink="/home-admin">Sistema Acadêmico</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite">

          <ul class="navbar-nav ml-auto" >

              <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/home-admin']">Início</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownSite" data-toggle="dropdown">
                      Alunos
                  </a>
                  <div class="dropdown-menu" style="font-size: 10pt">
                      <a class="dropdown-item" routerLink="./aluno">Cadastro</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Listar</a>
                      <a class="dropdown-item" href="#">Remover</a>
                      <a class="dropdown-item" href="#">Editar</a>
                  </div>
              </li>

              <li class="nav-item dropdown" style="font-size: 10pt">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownSite" data-toggle="dropdown">
                      Professor
                  </a>
                  <div class="dropdown-menu" style="font-size: 10pt">
                      <a class="dropdown-item"  routerLink="./professor">Cadastro</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Listar</a>
                      <a class="dropdown-item" href="#">Remover</a>
                      <a class="dropdown-item" href="#">Editar</a>
                  </div>
              </li>

              <li class="nav-item dropdown"> 
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownSite" data-toggle="dropdown">
                      Turmas
                  </a>
                  <div class="dropdown-menu" style="font-size: 10pt">
                      <a class="dropdown-item" routerLink="./turma">Cadastro</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Listar</a>
                      <a class="dropdown-item" href="#">Remover</a>
                      <a class="dropdown-item" href="#">Editar</a>
                  </div>
              </li>

              <li class="nav-item dropdown"> 
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownSite" data-toggle="dropdown">
                      Disciplinas
                  </a>
                  <div class="dropdown-menu" style="font-size: 10pt">
                      <a class="dropdown-item"  routerLink="./disciplina">Cadastro</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Listar</a>
                      <a class="dropdown-item" href="#">Remover</a>
                      <a class="dropdown-item" href="#">Editar</a>
                  </div>
              </li>

              <li class="nav-item dropdown"> 
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownSite" data-toggle="dropdown">
                      Administrador
                  </a>
                  <div class="dropdown-menu" style="font-size: 10pt">
                      <a class="dropdown-item"  routerLink="./admin">Cadastro</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Listar</a>
                      <a class="dropdown-item" href="#">Remover</a>
                      <a class="dropdown-item" href="#">Editar</a>
                  </div>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">Sair</a>
              </li>

          </ul>

      </div>

  </nav>
</div>