<div class="container" style="border: rgba(0, 0, 0, 0.2) 1px solid; background-color: #ffffff;">

  <div class="my-2">
    <h2 style="  margin-bottom: 0; font-weight: 100; text-align: center;" class=" pb-2 mb-3">Diário</h2>

    <div style="border: rgba(0, 0, 0, 0.2) solid 1px; border-radius: 5px; padding: 12px;">
      <h6><b style="font-size: 14pt; font-weight: 400;">Turma:        </b> <span>{{disciplina.turma}}</span> </h6>
      <h6><b style="font-size: 14pt; font-weight: 400;">Disciplina:  </b> <span>{{disciplina.nome}}</span></h6>
      <h6 class="mb-0"><b style="font-size: 14pt; font-weight: 400;">Professor:  </b> <span>{{professorNome}}</span></h6>
    </div>

    <div class="mt-2" style="border: rgba(0, 0, 0, 0.2) solid 1px; border-radius: 5px; padding: 12px;">
        <h3>
          Operações
        </h3>

        <h5 [routerLink]="['./frequencia/', disciplina.nome]">Frequência</h5>
        <h5 (click)="gerar()">Ata</h5>
        <h5 data-toggle="modal" data-target="#exampleModal"> Disponibilazar Material </h5>
        
    </div>

  </div>

</div>
<app-postar-material></app-postar-material>