.btn{
    background-color: #00507C; 
    border: rgba(0, 0, 0, 0.5) 1px solid;
}
.btn:hover{
    background-color: #DA0044; 
    border: rgba(0, 0, 0, 0.5) 1px solid;
}

.page-link.active{
    background-color: #343A40;
    color: white;
}

.page-link{
    color: black;
}