<div class="container">

    <app-topo></app-topo>

    <div class="row d-flex justify-content-center" style="margin: 0px;">
        <div class="col-sm-12 col-md-6 col-lg-5 mb-4 pr-0" style="border-right: 1px rgba(0, 0, 0, 0.4) solid" > 
            <app-banner (trocarModulo)="trocarModulo($event)"></app-banner>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5 mb-4 pl-0" *ngIf="aluno; else formProfessor">
            <app-login-aluno></app-login-aluno>
        </div>

        <ng-template #formProfessor>
            <div class="col-sm-12 col-md-5 col-lg-5 mb-4">
                <app-login-professor></app-login-professor>
            </div>
        </ng-template>

    </div>
</div>