<div style="width: 60vw;" class="mx-auto">
  <div class="container mb-2 mx-auto"
    style="border: rgba(0, 0, 0, 0.2) 1px solid; background-color: #ffffff; color: black;">
    <div class="my-2">
      <h3 style=" border-bottom: rgba(0, 0, 0, 0.2) solid 1px; margin-bottom: 0; font-weight: 100;" class=" pb-2">Mudar
        Senha</h3>

      <form [formGroup]="formulario" (ngSubmit)="mudarSenha()">
        
        <div class="float-label mt-4 mb-5">
          <input id="senhaAntiga" type="password" required class="form-control" formControlName="senhaAntiga"/>
          <label for="senhaAntiga" style="font-weight: 400;">Senha Antiga</label>
        </div>
        <div class="float-label mt-4 mb-5">
          <input id="novaSenha" type="password" required class="form-control" formControlName="novaSenha"/>
          <label for="novaSenha" style="font-weight: 400;">Nova Senha</label>
        </div>
        <div class="float-label mt-4 mb-5">
          <input id="repeteSenha" type="password" required class="form-control" formControlName="confirmarSenha"/>
          <label for="repeteSenha" style="font-weight: 400;">Confirme a Senha</label>
        </div>

        <button type="submit" class="btn btn-primary">Atualizar Senha</button>
      </form>
    </div>
  </div>
</div>

